# Auto detect text files and perform LF normalization
* text=auto
*.dll filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
dsmutil filter=lfs diff=lfs merge=lfs -text
lld filter=lfs diff=lfs merge=lfs -text
